
body {
    background-image: url("../img/bg01.jpg");
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; 
}


.about-body {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
  }

  .full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


  @media (max-width: 768px) {
    .full-height {
        height: 200vh;
       
    }

    
.form-body {
    width: 200px;
  }
  
}

